.world {
  display: flex;
  position: relative;
  max-width: calc(min(500px, 90vw));
  justify-content: center;
}

.world-bg {
  position: absolute;
  top: -200px;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(3px) brightness(0.8);
  z-index: -1;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)
  );
  -webkit-mask-image: radial-gradient(
    ellipse 100% 34% at 50% 70%,
    black 67%,
    transparent 85%
  );
  mask-image: radial-gradient(
    ellipse 100% 34% at 50% 70%,
    black 67%,
    transparent 85%
  );
}

.world-info {
  border-radius: 8px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.world-details h2 {
  text-align: left;
}

.world-details-decoration {
  display: flex;
  align-items: center;
  background-color: var(--accentBgColor);
  border-radius: 12px;
  border: 1px solid var(--borderColor);
  max-width: 80vw;
}

.first-appearance {
  border: 1px solid var(--accentColor);
  border-radius: 12px 8px 8px 12px;
  border-width: 1px 1px 1px 1px;
  background-color: var(--transparentBgAccentColor);
  padding: 8px;
}

.appears {
  padding: 8px;
  border-radius: 4px;
  border: 1px solid var(--borderColor2);
  border-width: 0 0 0px 0;
}

.world-image {
  width: 400px;
  max-width: 80vw;
  border: 1px solid var(--borderColor2);
  mask-image: linear-gradient(
    to top left,
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 1) 5%,
    rgba(0, 0, 0, 1) 30%,
    rgba(0, 0, 0, 1) 95%,
    rgba(0, 0, 0, 0) 95%
  );
  transform: rotate(1deg);
}
.description {
  height: 200px;
  display: flex;
}
